/* color variables */
$fontColor: #333; /* default font color */
$bodyColor: #fff; /* default background color */
$borderColor: #ccc; /* default border color */

$highlightColor: #f05656;
$semiHighlightColor: #f1f1f1;

$listIcon: "✦";
